<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<style>
			@font-face {
				font-family: 'Open Sauce';
				src: url("Open-Sauce-Sans/TTF/OpenSauceSans-Regular.ttf");
			}
		</style>
	</head>
	<body>
		<div class="main-div">
	  		<section>
				<h1>Jessica Kowalski</h1>
				<p>Entrepreneur, Stylist, Speaker</p>
				<div>
					<img src="insta-new.png">
					<img src="fb-new.png">
					<img src="twit-new.png">
				</div>
	  		</section>
	  		<section class="list">
				<div></div>
				<a href="#"><span>Bio</span></a>
				<div></div>
				<a href="#"><span>Concept Store</span></a>
				<div></div>
				<a href="#"><span>Blog</span></a>
				<div></div>
				<a href="#"><span>Order My Book</span></a>
				<div></div>
				<a href="#"><span>Talks and Workshops</span></a>
				<div></div>
				<a href="#"><span>Contact Me</span></a>
				<div></div>
	  		</section>
		</div>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
